body {
    background-color: black;
    color: white;
    font-family: Arial;
    margin: 30px;
}

h1 {
    text-align: center;
}

img {
    width: 400px;
    display: block;
    margin: 10px 0;
}

a {
    color: lightblue;
}